BreakBeforeBraces: Attach
ColumnLimit: 0
IndentCaseLabels: true
IndentWidth: 4
LineEnding: LF
MaxEmptyLinesToKeep: 2
ReflowComments: Never
RemoveParentheses: ReturnStatement
SkipMacroDefinitionBody: true
SortIncludes: Never

